footer.footer
    h2.footer--title Contacto.
    p.footer--text Telefono: +54 223 538-8441 <br>
        | Dirección: El Cano 7982, Mar del Plata, Bs As <br>
        | Correo: info@enganchesdima.com.ar <br>
    h3.footer--by Sitio web por: 
    a(href="https://www.tmdm.com.ar") TMDM (tmdm.com.ar)
<script async defer src="main.js" type="module"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>