header.header
            nav.header__nav
                i.uil.uil-times.nav-icons
                i.uil.uil-bars.nav-icons
                ul.nav__ul
                    li.nav__ul--item#logo: img(src="https://tmdm.com.ar/u/logo-new.png", alt="Logo")
                    li.nav__ul--item: a(href="./index.html") Inicio
                    li.nav__ul--item: a(href="./index.html#about-us") Acerca de nosotros
                    li.nav__ul--item: a(href="./productos.html") Productos
                    li.nav__ul--item: a(href="./contacto.html") Contacto